
header
 h3 Добро пожаловать на страницу тестового учебного блога!


h2 Обо мне.

p Масса неудачных попыток в JS, React, Vue.js, Angular, Typescript и прочем)
p Таким путем я и пришел к Ruby и Ruby on Rails.

footer
section 
div 
p Страницы сгенерированны в Ruby on Rails.
p Эта страница расположена по адресу:
p static_page/about 
p Страница help доступна по адресу:
p static_page/help