header
h3 Добро пожаловать на страницу тестового учебного блога!

h2 Эта страница в будущем будет картой сайта
p Тут я предполагаю размещени всякой помощи для навигации, помощи и прочего.

footer
section 
div 
p Страницы сгенерированны в Ruby on Rails.
p Эта страница расположена по адресу:
p static_page/help 
p Страница about доступна по адресу:
p static_page/about
